<template>
    <div class="card short-page">
        <div class="card-body" v-bind:class="{shadow: showAll, openedPage: showAll}">
            <div class="row">
                <div class="col-8">
                    <h5 class="card-title"><a v-on:click="showAll = !showAll">{{ page.title }}</a></h5>
                </div>
                <div v-if="page.author_name !== null" class="col-4 author">
                    Autor: <router-link :to="{ name: 'profile_show', params: {profileId: page.author_id} }">{{ page.author_name }}</router-link>
                </div>
            </div>

            <p v-if="showAll" class="card-text" v-html="page.content"></p>
            <p v-else class="card-text" v-html="page.shortContent"></p>
            <div class="card-body">
                <router-link v-if="user.isAdmin" class="card-link" :to="{ name: 'page_show', params: {pageId: page.id} }">Upravit</router-link>
                <router-link v-if="!user.isAdmin" class="card-link" :to="{ name: 'page_show', params: {pageId: page.id} }">Zobrazit více</router-link>
                <a v-if="user.isAdmin" class="card-link" v-on:click="deletePage(page.id)">Smazat</a>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: 'PagePanel',
        data () {
            return {
                showAll: false
            }
        },
        props: ['page', 'user'],
        methods: {
            deletePage: function (pageId) {
                let self = this;
                axios.delete('/api/page/delete', {
                    params: {
                        id: pageId
                    }
                }).then((response)  =>  {
                    if (response.data.deleted === 1) {
                        this.$parent.getPages();
                    }
                }, (error)  =>  {

                })
            }
        }
    }
</script>

<style scoped>
    .author {
        text-align: right;
    }
</style>