<template>
    <div>
        <div class="card short-page">
            <div class="card-body">
                <h5 class="card-title">O nás</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Název školy</td>
                            <td>
                                <p>Střední průmyslová škola Brno, Purkyňova,<br>příspěvková organizace</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Adresa</td>
                            <td>
                                Purkyňova 97<br>
                                Brno, 612 00<br>
                                <a href="https://goo.gl/maps/yyaJQ6Fgmjw" target="blank">Zobrazit mapu</a>
                            </td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>
                                <a href="mailto:posta@sspbrno.cz">posta@sspbrno.cz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Telefon</td>
                            <td>
                                provolba - 541 649 klapka<br>
                                pojovatelka - 541 649 111
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "About"
    }
</script>

<style scoped>

</style>
