<template>
    <div>
        <page-panel v-for="page in pages" :key="page.id" :page="page" :user="user"></page-panel>
    </div>
</template>

<script>
    import axios from 'axios';
    import PagePanel from '../components/PagePanel';
    export default {
        name: "Home",
        data () {
            return {
                loading: true,
                pages: []
            }
        },
        components: {PagePanel},
        props: ['user'],
        mounted: function () {
            this.getPages();
        },
        methods: {
            getPages: function () {
                let self = this;
                this.loading = true;
                axios.get('/api/pages').then((response)  =>  {
                    let data = response.data;
                        data.all = false;
                    self.pages = data;
                    self.loading = false;
                }, (error)  =>  {
                    self.loading = false;
                })
            }
        }
    }
</script>

<style scoped>
    .short-page {
        margin-bottom: 10px;
    }

    .card-title a:hover {
        text-decoration: underline;
    }

    .openedPage .card-title a {
        text-decoration: underline;
    }
</style>
