<template>
    <div>
        <div class="card short-page">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <h5 class="card-title">Vlastní položky v menu</h5>
                    </div>
                    <div class="col-8 add-menu-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Název</span>
                            </div>
                            <input v-model="newTitle" type="text" class="form-control">
                            <div class="input-group-prepend">
                                <span class="input-group-text">URL</span>
                            </div>
                            <input v-model="newUrl" type="text" class="form-control">
                            <div class="input-group-append">
                                <button v-on:click="save" class="btn btn-outline-secondary" type="button">Uložit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                        <tr v-for="menuItem in menu" :key="menuItem.id">
                            <td>{{ menuItem.title }}</td>
                            <td>
                                <router-link :to="menuItem.url">{{ menuItem.url }}</router-link>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger" v-on:click="deleteItem(menuItem.id)">Odstranit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Menu",
        data() {
            return {
                menu: [],
                newTitle: '',
                newUrl: ''
            };
        },
        props: ['user'],
        mounted() {
            this.initMenu();
        },
        methods: {
            initMenu: function () {
                let self = this;
                axios.get('/api/component/menu')
                    .then(function (data) {
                        self.menu = data.data;
                    });
            },
            save: function () {
                let self = this;
                axios.post('/api/component/menu/save', {
                    title: this.newTitle,
                    url: this.newUrl
                }).then(function (data) {
                    self.initMenu();
                    self.newTitle = '';
                    self.newUrl = '';
                });
            },
            deleteItem: function (menuId) {
                let self = this;
                axios.delete('/api/component/menu/delete', {
                    params: {
                        id: menuId
                    }
                }).then(function (data) {
                    self.initMenu();
                });
            }
        }
    }
</script>

<style scoped>
    .add-menu-group {
        margin-bottom: 10px;
    }
</style>