<template>
    <div>
        <div v-if="user.isAdmin" class="card short-page">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">Nová stránka</h5>
                    </div>
                    <div v-if="author_name !== null" class="col-4 author">
                        <p>Autor: <router-link :to="{ name: 'profile_show', params: {profileId: author_id} }">{{ author_name }}</router-link></p>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Titulek</span>
                    </div>
                    <input type="text" class="form-control" v-model="title">
                </div>
                <ckeditor :editor="editor" v-model="content" :config="editorConfig"></ckeditor>
                <br>
                <button class="btn btn-primary" v-on:click="save">Uložit</button>
            </div>
        </div>
        <div v-if="!user.isAdmin" class="card short-page">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">{{ title }}</h5>
                    </div>
                    <div v-if="author_name !== null" class="col-4 author">
                        <p>Autor: <router-link :to="{ name: 'profile_show', params: {profileId: author_id} }">{{ author_name }}</router-link></p>
                    </div>
                </div>
                <p v-html="content"></p>
            </div>
        </div>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import axios from 'axios';

    export default {
        name: "Profile",
        data() {
            return {
                id: null,
                title: '',
                content: '',
                author_id: null,
                author_name: null,
                editor: ClassicEditor,
                editorConfig: {
                    cloudServices: {
                        tokenUrl: () => new Promise( ( resolve, reject ) => {
                            axios.get('/api/image-upload/token').then(function (response) {
                                resolve(response.data);
                            });
                        }),
                        uploadUrl: '/api/image-upload/upload'
                    }
                },
            };
        },
        props: ['user'],
        mounted() {
            if (this.$route.params.pageId !== undefined) {
                this.loadPage(this.$route.params.pageId);
            }
        },
        methods: {
            save: function () {
                let self = this;
                axios.post('/api/page/save', {
                    id: this.id,
                    title: this.title,
                    content: this.content
                }).then(function (response) {
                    self.$router.push('/');
                });
            },
            loadPage: function (page_id) {
                let self = this;
                axios.get('/api/page', {
                    params: {
                        id: page_id
                    }
                }).then(function (response) {
                    self.id = response.data.id;
                    self.title = response.data.title;
                    self.content = response.data.content;
                    self.author_id = response.data.author_id;
                    self.author_name = response.data.author_name;
                });
            }
        }
    }
</script>

<style scoped>
    .author {
        text-align: right;
    }
</style>