<template>
    <div>
        <div class="card short-page">
            <div class="card-body">
                <h5 class="card-title">{{ user.name }}</h5>
                <form>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Jméno:</label>
                        <div class="col-sm-6">
                            <input v-if="profileOwner" v-model="name" type="text" class="form-control" id="name">
                            <p v-if="!profileOwner">{{ name }}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">Email</div>
                        <div class="col-sm-6">{{ email }}</div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-2 col-form-label">Mobil:</label>
                        <div class="col-sm-6">
                            <input v-if="profileOwner" v-model="phone" type="text" class="form-control" id="phone">
                            <p v-if="!profileOwner">{{ phone }}</p>
                        </div>
                    </div>
                    <div v-if="profileOwner" class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button v-on:click="save" type="button" class="btn btn-primary">Uložit</button>
                        </div>
                    </div>
                </form>
                <form v-if="profileOwner">
                    <h5 class="card-title">Změna hesla</h5>
                    <hr>
                    <div class="form-group row">
                        <label for="newPassword" class="col-sm-2 col-form-label">Heslo:</label>
                        <div class="col-sm-6">
                            <input v-model="newPassword" type="password" class="form-control" id="newPassword" placeholder="*****">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPasswordRep" class="col-sm-2 col-form-label">Heslo znovu:</label>
                        <div class="col-sm-6">
                            <input v-model="newPasswordRep" type="password" class="form-control" id="newPasswordRep" placeholder="*****">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button v-on:click="saveNewPassword" type="button" class="btn btn-primary">Uložit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Profile",
        props: ['user'],
        data() {
            return {
                name: '',
                email: '',
                phone: '',
                newPassword: '',
                newPasswordRep: '',
                profileOwner: false,
            };
        },
        mounted() {
            if (this.$route.params.profileId !== undefined) {
                this.loadUser(this.$route.params.profileId);
            } else {
                this.name = this.user.name;
                this.email = this.user.email;
                this.phone = this.user.phone;
                this.profileOwner = true;
            }
        },
        methods: {
            save: function () {
                let self = this;
                axios.post('/api/user/save', {
                    name: this.name,
                    phone: this.phone
                }).then(function () {

                });
            },
            saveNewPassword: function () {
                let self = this;
                axios.post('/api/user/change-password', {
                    password: this.newPassword,
                    passwordRep: this.newPasswordRep
                }).then(function () {
                    self.newPassword = '';
                    self.newPasswordRep = '';
                });
            },
            loadUser: function (userId) {
                let self = this;
                axios.get('/api/user/get', {
                    params: {
                        id: userId
                    }
                }).then(function (response) {
                    self.name = response.data.name;
                    self.email = response.data.email;
                    self.phone = response.data.phone;
                });
            }
        }
    }
</script>

<style scoped>

</style>