<template>
    <v-app class="site">
        <nav class="navbar navbar-expand navbar-light container">
            <a class="navbar-brand" href="#">
                SSPBRNO.cz
            </a>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <b-link class="nav-link" active-class="active" to="/" exact>Hlavní stránka</b-link>
                    </li>
                    <li v-for="menuItem in menu" :key="menuItem.id" class="nav-item">
                        <b-link class="nav-link" active-class="active" :to="menuItem.url">{{ menuItem.title }}</b-link>
                    </li>
                    <li class="nav-item">
                        <b-link class="nav-link" active-class="active" to="/about">O nás</b-link>
                    </li>
                    <li v-if="user.isAdmin" class="nav-item">
                        <b-link class="nav-link" active-class="active" to="/page">Nová stránka</b-link>
                    </li>
                    <li v-if="user.isAdmin" class="nav-item">
                        <b-link class="nav-link" active-class="active" to="/menu">Menu</b-link>
                    </li>
                    <li v-if="!user.logged" class="nav-item">
                        <b-button class="nav-link login-button" v-b-modal.loginDialog>Přihlásit se</b-button>
                    </li>
                    <li v-if="!user.logged" class="nav-item">
                        <b-button class="nav-link register-button" v-b-modal.registerDialog>Zaregistrovat</b-button>
                    </li>
                    <li v-if="user.logged" class="nav-item">
                        <b-link class="nav-link" active-class="active" to="/profile">{{ user.name }}</b-link>
                    </li>
                    <li v-if="user.logged" class="nav-item">
                        <b-button class="nav-link register-button" v-on:click="logout">Odhlásit se</b-button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container main-content">
            <div class="row">
                <div class="col-sm-12 col-md-9 page-container">
                    <v-content>
                        <v-container fluid>
                            <router-view :user="user"></router-view>
                        </v-container>
                    </v-content>
                </div>
                <div class="col right-panel">
                    <div class="container">
                        <div class="card short-page">
                            <div class="card-body">
                                <h5 class="card-title">Projekty školy</h5>
                                <img src="https://www.sspbrno.cz/projekty/erasmus.jpg" class="img-fluid" alt="Responsive image">
                                <img src="https://www.sspbrno.cz/grafika/rop.jpg" class="img-fluid" alt="Responsive image">
                                <img src="http://sspbrno.cz/grafika/cez.jpg" class="img-fluid" alt="Responsive image">
                                <img src="https://www.sspbrno.cz/grafika/cesruclogomini.jpg" class="img-fluid" alt="Responsive image">
                                <img src="https://www.sspbrno.cz/grafika/etwinning.gif" class="img-fluid" alt="Responsive image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <b-modal ref="loginDialog" id="loginDialog" title="Přihlásit se" hide-footer>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" v-model="email" placeholder="Email"></div>
            <div class="form-group">
                <label for="inputPassword">Heslo</label>
                <input type="password" class="form-control" id="inputPassword" v-model="password" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="reminderMe">
                <label class="form-check-label" for="reminderMe">Zpamatovat si mě</label>
            </div>
            <br>
            <button type="button" class="btn btn-primary" v-on:click="login">Přihlásit</button>
        </b-modal>

        <b-modal ref="registerDialog" id="registerDialog" title="Zaregistrovat se" hide-footer>
            <div class="form-group">
                <label for="registerName">Jméno</label>
                <input type="text" class="form-control" id="registerName" v-model="registerName" placeholder="Jméno"></div>
            <div class="form-group">
                <label for="registerEmail">Email</label>
                <input type="email" class="form-control" id="registerEmail" v-model="registerEmail" placeholder="Email"></div>
            <div class="form-group">
                <label for="registerPhone">Telefon</label>
                <input type="text" class="form-control" id="registerPhone" v-model="registerPhone" placeholder="Telefon"></div>
            <div class="form-group">
                <label for="registerPassword">Heslo</label>
                <input type="password" class="form-control" id="registerPassword" v-model="registerPassword" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="registerPasswordRepeat">Heslo znovu</label>
                <input type="password" class="form-control" id="registerPasswordRepeat" v-model="registerPasswordRepeat" placeholder="Password">
            </div>
            <br>
            <button type="button" class="btn btn-primary" v-on:click="register">Zaregistrovat</button>
        </b-modal>
    </v-app>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "App",
        data: function () {
            return {
                menu: [],

                email: '',
                password: '',

                registerName: '',
                registerEmail: '',
                registerPhone: '',
                registerPassword: '',
                registerPasswordRepeat: '',

                user: null,
            }
        },
        created: function () {
            let self = this;
            this.initUserData((data) => {
                self.user = data;
            });
        },
        mounted: function () {
            this.initMenu();
        },
        methods: {
            login: function () {
                let self = this;
                axios.post('/api/login', {
                    email: this.email,
                    password: this.password
                }).then(function(r) {
                    if (r.data.success !== undefined) {
                        self.$refs.loginDialog.hide();
                        self.$cookie.set("token", r.data.success.token, 1);
                        self.initUserData((data) => {
                            self.user = data;
                        });
                    }
                });
            },
            register: function () {
                let self = this;
                axios.post('/api/register', {
                    name: this.registerName,
                    email: this.registerEmail,
                    phone: this.registerPhone,
                    password: this.registerPassword,
                    passwordRepeat: this.registerPasswordRepeat
                }).then(function(r) {
                    if (r.data.status === 'success') {
                        self.$refs.registerDialog.hide();
                    }
                });
            },
            logout: function () {
                let self = this;
                axios.get('/api/logout')
                    .then(function () {
                        self.initUserData((data) => {
                            self.user = data;
                        });
                    });
            },
            initMenu: function () {
                let self = this;
                axios.get('/api/component/menu')
                    .then(function (data) {
                        self.menu = data.data;
                    });
            },
        }
    }
</script>

<style scoped>
    .site {
        background-image: url("https://www.uni.lodz.pl/upload/a88f14114ea0a780ac064c2fd3cbced7.jpg");
        background-size: auto 120%;
        background-position: center;
        background-attachment: fixed;
    }

    .navbar {
        flex: 0 1 auto !important;
        background-color: rgba(255, 255, 255, 0.8);


    }

    .navbar .nav-item .nav-link {
        color: black;
        border-radius: 0.25rem;
        margin-left: 5px;
        border: 0;
    }

    .navbar .nav-item .nav-link.active,
    .navbar .nav-item .nav-link:hover {
        color: white;
        background-color: green;
    }

    .logo {
        height: 90px;
    }
    .v-content {
        background-color: white;
    }
    .main-content {
        padding: 0;
        background-color: white;
    }
    .login-button, .register-button {
        background-color: initial;
    }

    .right-panel {
        padding-left: 0;
    }

    .page-container {
        padding-right: 0;
    }
</style>
